.Header {
    background-color: rgb(66, 117, 121);
    height:100px;
}
.Header-logo
{
    padding:10px;
    font-size:30px;
    color:black;
    float:left;
    margin-top:20px;


}
.Header-list ul li
{
    color:rgb(18, 18, 28);
    float:left;
    padding:25px 45px 25px 20px;
    list-style:none;
    text-decoration: none;
   
}

.main {
    background-color: rgb(222, 227, 229);
    height:700px;
    padding:50px;
    
}
#Coures
{
    height:200px;
    
}


.Header-list li{
    color: rgb(2, 2, 16);
    float:right;
    padding:100px;
    margin-top:20px;
    text-decoration: none;
}


.main h1 p{
    color: black;
    float:left;
    border-bottom:5px solid grey;
    margin-top:40px;
    text-align: center;
    text-decoration: none;
}

.div{
    float:right;
}
#contact
{
    height:200px;

   
}
.input textarea{
    width: 350px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    font-size:18px;
    border: 1px solid #96bbcf;
}



.Header {
    background-color: rgba(70, 129, 124, 0.826);
    height:100px;
}
.footer{
    height:100px;
    background-color:rgba(51, 128, 122, 0.826);
}
.footer-logo
{
    padding:10px;
    font-size:30px;
    color:black;
    float:left;
    margin-top:20px;


}
.footer-list{
    float:right;
    padding-right:20px;
    
}
.footer-list ul li
{
    color:rgb(18, 18, 28);
    

    list-style:none;
   
}
.item{
    float:left;
    margin-right:40px;
}

